/* *** Overrides *** */

/* Color palette */
$blue: #1860a1;
$darkBlue: #1961a2;
$brightBlue: #009dc9;
$lightBlue: #e9f1f5;
$ocean: #00b5ad;
$steel: #39546b;
$white: #fff;

/* Buttons */
.ui.button {
  border-radius: 2rem;
  &.primary {
    color: $steel;
    background: transparent;
    border: 2px solid $blue;
    &:hover {
      background: darken($blue, 10%);
      border-color: darken($blue, 10%);
    }
  }
  &.secondary {
    color: $brightBlue;
    background: transparent;
    border: 2px solid $brightBlue;
    &:hover {
      background: darken($brightBlue, 10%);
      border-color: darken($brightBlue, 10%);
    }
  }
}
@media (max-width: 991px) {
  .mobileStacked {
    .button {
      width: 100%;
      margin-bottom: 1rem;
      padding: 1rem .5rem;
    }
  }
}

/* Reset */
html,body {
  height: auto;
  @media (min-width: 820px) {
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
  }
}

/* Body */
body {
  font-size: 100%;
  line-height: inherit;
  color: $steel;
  background: $blue;
  background: -webkit-gradient(linear, left top, left bottom, from(#1961a2), to(#199bc7));
  background: -webkit-linear-gradient(top, #1961a2, #199bc7);
  background: -moz-linear-gradient(top, #1961a2, #199bc7);
  background: -o-linear-gradient(top, #1961a2, #199bc7);
  background: -ms-linear-gradient(top, #1961a2, #199bc7);
  background: linear-gradient(top, #1961a2, #199bc7);
  background-repeat: no-repeat;
}


/* Main Container */
.ramp-container {
  margin-top: 1rem;
  min-height: 100vh;
  @media (min-width: 820px) {
    margin-top: 3rem;
  }
}

/* App Header */
#ramp-brand {
  width: 140px;
  @media (min-width: 820px) {
    width: 240px;
    margin-bottom: 1rem;
  }
}
.headerNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#tfl {
  width: 120px;
  @media (min-width: 540px) {
    width: 160px;
  }
  @media (min-width: 1024px) {
    width: 200px;
  }
  margin-bottom: 0;
}

/* Typography */
@media (min-width: 820px) {
  .hero {
    font-size: 3.5rem;
    line-height: 1.125em;
    letter-spacing: -1px;
  }
}

/* Responsive margin */
@media (max-width: 819px) {
  .m-marginB1rem {
    margin-bottom: 1rem !important;
  }
}

/* Link Lists */
.ui.inverted.link.list .item,
.ui.inverted.link.list .item a:not(.ui),
.ui.inverted.link.list a.item {
  color: rgba(255,255,255,1);
  @media (min-width: 820px) {
    &:hover {
      color: rgba(255,255,255,.5) !important;
    }
  }
}

/* Segment */
.ui[class*="very padded"].segment {
  @media (max-width: 819px) {
    padding: 1.5em;
  }
  @media (min-width: 820px) {
    padding: 3em;
  }
}
.ui.segment, .ui.segments .segment {
  font-size: 1.2rem;
}
.ui.segment.secretSauce {
  background: $lightBlue;
  color: $steel;
  border: 0;
  box-shadow: none;
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .button {
    margin-top: 1rem;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .button {
      margin-top: 0;
    }
  }
  span {
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: break-all;
    @media (max-width: 819px) {
      display: block;
    }
  }
}

/* Typography */
.ui.header {
  color: $blue;
}
h2 {
  &.ui.header {
    font-size: 2rem;
  }
}
h3 {
  &.ui.header {
    font-size: 1.5rem;
  }
}
h4 {
  &.ui.header {
    font-size: 1.25rem;
  }
}
/* Responsive text alignment */
@media (max-width: 819px) {
  .m-text-center {
    text-align: center !important;
  }
}
/* Pre / Code samples */
pre {
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: normal;
  font-family: 'Source Code Pro', monospace;
  display: block;
  padding: 1.5rem;
  margin: 0 0 1rem;
  line-height: 1.42857;
  background: $lightBlue;
  border-radius: 4px;
}
.codeText {
  font-family: 'Source Code Pro', monospace;

  &.bubble {
    display: block;
    background: $lightBlue;
    padding: .25rem 1rem;
    margin-left: .15rem;
    margin-right: .15rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    @media (min-width: 820px) {
      display: inline-block;
      margin-top: -1rem;
      margin-bottom: -1rem;
    }
    border-radius: 1rem;
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: break-all;
  }
}

.copyright {
  color: $white;
  margin-bottom: 1rem;
}
small {
  margin: 0;
}

/* List styles */
ol {
  counter-reset: item;
  margin: 2rem 0 2rem 1rem;
  padding-left: 3rem;
  list-style:none;
  line-height: 1.4;

  li {
    margin-bottom: 1.5rem;
    position: relative;
    counter-increment: item;

    pre {
      margin: .5rem 0;
      & + small {
        display: block;
        margin-bottom: 2rem;
      }
    }

    &:before {
      content: counter(item);
      position: absolute;
      top: -2px;
      left: -3rem;
      display: inline-block;
      width: 24px;
      height: 24px;
      font-weight: bold;
      text-align: center;
      font-size: .9rem;
      line-height: 1.2em;
      background: $lightBlue;
      border-radius: 50%;
      padding: .25rem;
    }
  }
}

/* Copy icon */
.icon.rampCopy {
  &:before {
    content: '';
    display: block;
    background: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"%3E
      %3Cg fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" transform="translate(.894 .616)"%3E
        %3Cpath d="M20.25 8.249L20.25 5.249C20.25 4.42057288 19.5784271 3.749 18.75 3.749L14.75 3.749M6.25 3.749L2.25 3.749C1.42157288 3.749.75 4.42057288.75 5.249L.75 21.749C.75 22.5774271 1.42157288 23.249 2.25 23.249L8.25 23.249"/%3E
        %3Cpath d="M14.421,4.736 C14.3186545,5.0423013 14.0319475,5.2488753 13.709,5.249 L7.291,5.249 C6.96805251,5.2488753 6.68134553,5.0423013 6.579,4.736 L5.579,1.736 C5.50232594,1.50721053 5.5405705,1.25549416 5.68173814,1.05980249 C5.82290579,0.864110824 6.04970518,0.748413746 6.291,0.749 L14.709,0.749 C14.9502948,0.748413746 15.1770942,0.864110824 15.3182619,1.05980249 C15.4594295,1.25549416 15.4976741,1.50721053 15.421,1.736 L14.421,4.736 Z"/%3E
        %3Crect width="12" height="12" x="11.25" y="11.249" rx="1.5"/%3E
        %3Cpath d="M14.25 14.249L20.25 14.249M14.25 17.249L20.25 17.249M14.25 20.249L16.5 20.249"/%3E
      %3C/g%3E
    %3C/svg%3E') !important;
    width: 20px;
    height: 20px;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }
}
